
.container{
    /*border:2px solid black;*/
    background-color: teal;
    height:400px ;
    width: 900px;
}

#end{
    margin: 2px;
    float: left;
}
.display{
    font-weight: bolder;
    color:rgb(71, 5, 5);

}

#msg{
    color: black;
    font-size: 20px;
    margin: auto;
    font-weight: bold;
}
.jumbotron{
    height: 400px;
    width: 800px;
    padding: 20px;
    margin-top:50px;
    margin-left: 35px;
}
#time{
    font-size: 20px;
    color: blue;
}